<h1>All Users</h1>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Is Admin</th>
            <th>Total Picks</th>
            <th>Wrong Picks</th>
            <th>Needs to pick</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td {% if user.needs_to_pick == "Yes" %} style="background-color: #ffffcc;" {% endif %}>
                    {{ user.username }}
                </td>
                <td>{{ 'Yes' if user.is_admin else 'No' }}</td>
                <td>{{ user.picks_count }}</td>
                <td>{{ user.wrong_picks }}</td>
                <td {% if user.needs_to_pick == "Yes" %} style="background-color: #ffffcc;" {% endif %}>
                    {{ user.needs_to_pick }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<a href="{{ url_for('index') }}">Home</a>
