<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Spreads</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <a href="{{ url_for('index') }}">Home</a>
    <h1>All Spreads</h1>
    {% for week, spreads in spreads_by_week.items() %}
        <h2>Week {{ week }}</h2>
        <ul>
            {% for spread in spreads %}
                <li>
                    {{ spread.game_time.strftime("%Y-%m-%d %I:%M %p %Z") }}:
                    <span class="{{ 'spread-favored-1' if spread.road_team_spread <= -0.5 and spread.road_team_spread > -5 else 'spread-favored-2' if spread.road_team_spread <= -5 and spread.road_team_spread > -8 else 'spread-favored-3' if spread.road_team_spread <= -8 else '' }}">
                        {{ spread.road_team }}
                        {% if spread.road_team_spread <= 0 %} ({{ spread.road_team_spread }}){% endif %}
                    </span>
                    @
                    <span class="{{ 'spread-favored-1' if spread.home_team_spread <= -0.5 and spread.home_team_spread > -5 else 'spread-favored-2' if spread.home_team_spread <= -5 and spread.home_team_spread > -8 else 'spread-favored-3' if spread.home_team_spread <= -8 else '' }}">
                        {{ spread.home_team }}
                        {% if spread.home_team_spread <= 0 %} ({{ spread.home_team_spread }}){% endif %}
                    </span>
                </li>            
                {% endfor %}
        </ul>
    {% endfor %}

    <br>
    <a href="{{ url_for('index') }}">Home</a>
    
</body>
</html>
