<!DOCTYPE html>
<html>
<head>
    <title>Fetch Spreads</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<h1>Recent and Upcoming Spreads</h1>

{% if last_updated_time %}
<p>Last updated at: {{ last_updated_time.strftime("%Y-%m-%d %I:%M %p %Z") }}</p>
{% endif %}

<ul>
    {% for spread in spreads %}
    <li>
        {{ spread.game_time.strftime("%Y-%m-%d %I:%M %p %Z") }}:
        <span class="{{ 'spread-favored-1' if spread.road_team_spread <= -0.5 and spread.road_team_spread > -5 else 'spread-favored-2' if spread.road_team_spread <= -5 and spread.road_team_spread > -8 else 'spread-favored-3' if spread.road_team_spread <= -8 else '' }}">
            {{ spread.road_team }}
            {% if spread.road_team_spread <= 0 %} ({{ spread.road_team_spread }}){% endif %}
        </span>
        @
        <span class="{{ 'spread-favored-1' if spread.home_team_spread <= -0.5 and spread.home_team_spread > -5 else 'spread-favored-2' if spread.home_team_spread <= -5 and spread.home_team_spread > -8 else 'spread-favored-3' if spread.home_team_spread <= -8 else '' }}">
            {{ spread.home_team }}
            {% if spread.home_team_spread <= 0 %} ({{ spread.home_team_spread }}){% endif %}
        </span>
    </li>
    {% endfor %}
</ul>

<p>Remaining Requests: {{ remaining_requests }}</p>
<p>Used Requests: {{ used_requests }}</p>

<br>
<a href="{{ url_for('index') }}">Home</a>


</body>
</html>
