<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>All Picks</h1>
        <table class="styled-table">
            <thead>
                <tr class="header-row">
                    <th class="first-col">User</th>
                    <th class="second-col">Losses</th>
                    {% for week in all_picks.keys() %}
                    <th>Week {{ week }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for username in usernames %}
                <tr>
                    <td class="first-col">{{ username }}</td>
                    <td class="second-col">{{ wrong_picks_count.get(username, 0) }}</td>
                    {% for week, week_picks in all_picks.items() %}
                    <td class="{{ 'correct' if week_picks.get(username, {}).get('is_correct') is true else 'incorrect' if week_picks.get(username, {}).get('is_correct') is false else 'nopick' }}">
                        {{ week_picks.get(username, {}).get('team', 'Not Submitted') }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="{{ url_for('index') }}">Home</a>    

    </body>
</html>
